<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <!-- Type your own password -->
        <property name="hibernate.connection.password">oracle</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521/xe</property>
        <!-- Type your own username -->
        <property name="hibernate.connection.username">hr</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        
        <!-- In the below code, if you type "update" it updates table(add new data) in every run -->
        <!-- In the below code, if you type "create" it creates table in every run -->
        <property name="hbm2ddl.auto">update</property>
        <!-- In the below code, if you type "true" it displays SQL Codes on the console -->
        <!-- In the below code, if you type "false" it does not display SQL Codes on the console -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <!-- Following 3 lines are for Second Level Cache -->
          <property name="hibernate.cache.use_second_level_cache">true</property>         
		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.internal.EhcacheRegionFactory</property>
		<property name="hibernate.cache.provider_class">org.hibernate.cache.internal.EhcacheProvider</property>
			
    </session-factory>
</hibernate-configuration>
